include LICENSE
include AUTHORS
include README.rst
include ChangeLog
include tendrl-node-agent.service
include tendrl-message.socket
include node-agent.el6.service
include version.py
exclude .gitignore
exclude .gitreview
graft docs
graft etc
graft tendrl
global-exclude *.pyc
